.wrapper
{
    width: 100%;
    height: auto;
}
.session-header
{
    width: 100%;
    height: 600px;
}
.menu-header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}
.menu-left
{
    display: flex;
    align-items: center;
}
.menu-center
{
    display: flex;
    align-items: center;
}
.mart
{
    margin-left:15px;
    font-family:"Cabin";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.44px;
}
.menu-right
{
    display: flex;
    align-items: center;
}
#search-box
{
    margin-left: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#search-text
{
    border: none;
    outline: none;
    font-size: 16px;
}
.search-btn
{
    border: none;
    background-color: white;
}
.home
{
    color: #07A081;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.shop
{
    margin-left: 15px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.package
{
    margin-left: 15px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.menu
{
    margin-left: 15px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.about
{
    margin-left: 15px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.contactus
{
    margin-left: 15px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.icon-cart
{
    position: relative;
    padding: 5px;
    font-size: 20px;
}
.icon-cart::before
{
    position: absolute;
    content: "0";
    display: block;
    font-size: 10px;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}
.icon-bar
{
    margin-left: 10px;
    position: relative;
    font-size: 20px;
}
.fa-star
{
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 14px;
    width: 12px;
    height: 12px;
}
.fa-circle-user
{
    margin-left: 10px;
    font-size: 20px;
}
.boredr-hr{
    border: 1px solid black;
    width: 1000px;
    margin: 40px auto;
}
.header
{
    margin-left: 70px;
}
.des-body
{
    font-family: "Poppins";
    font-size: 48px;
}
.des-purchase
{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon-body
{
    margin-top: 20px;
    font-size: 32px;
}
.session-header
{
    position: relative;
}
.session-header::before
{
    position: absolute;
    content: url("images/Vector\ 2.png");
    width: 80%;
    bottom: 0;
}
.header-right
{
    position: relative;
}
.happy-customer
{
    border: 1px solid white;
    padding: 3px 40px;
    background-color: white;
    text-align: center;
   border-radius: 16px;
    position: absolute;
    right: 0;
    top:380px
}
.happy-customer h3{
    font-size: 24px;
    font-family: 'Times New Roman';
    font-weight: 700;
}
.happy-customer
{
    font-family: "Inter";
    font-size: 15px;
}
.header::before
{
    position: absolute;
    content: url("images/Vector\ 3.png");
    right: 0;
    bottom: 0;

}
.clear
{
    clear: both;
}
.content
{
    margin-left: 70px;
}
.list-highlight
{
    margin-left: 100px;
}
.cat{
    border-top-left-radius: 50px ;
    border-bottom-left-radius:50px;
    background-image: linear-gradient(to right, #07A08166,#FFFFFF00);
}
.dog
{
    border-top-left-radius: 50px ;
    border-bottom-left-radius:50px;
    background-image: linear-gradient(to right, #07A08166,#FFFFFF00);
}
.bird
{
    border-top-left-radius: 50px ;
    border-bottom-left-radius:50px;
    background-image: linear-gradient(to right, #07A08166,#FFFFFF00);
}
.fish
{
    border-top-left-radius: 50px ;
    border-bottom-left-radius:50px;
    background-image: linear-gradient(to right, #07A08166,#FFFFFF00);
}
.rabbit
{
    border-top-left-radius: 50px ;
    border-bottom-left-radius:50px;
    background-image: linear-gradient(to right, #07A08166,#FFFFFF00);
}
.discount
{
    text-decoration: line-through;
    margin-left: 10px;
}
.name
{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 500;
}
.gen
{
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
}
.price
{
    font-size: 16px;
    font-family: "Lato";
    font-weight: 300;
}
.title-shop
{
    font-family: "Poppins";
    font-size: 32px;
}
.des-content
{
    font-family:"Lato";
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.all-pet
{
    margin-top: 30px;
    font-family: "Poppins";
    font-size: 32px;
}
.content-shop{
    font-family: "Lato";
    font-size: 16px;
    margin-bottom: 30px;
}
.list-animal
{
    margin-right: 10px;
}
.back
{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px 17px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}
.next
{
    border-radius: 50%;
    padding: 10px 17px;
    background-color: rgb(153, 225, 180);
    font-size: 18px;
    font-weight: bold;
}
.cickle-back-next
{
    text-align: center;
    margin-top: 40px;
}
.footer-content
{
    margin-top: 200px;
}
.footer-image
{
    position: relative;
}
.footer-image::before
{
    position: absolute;
    content: url("images/Group\ 1042.png");
    left: 225px;
    bottom: 100px;
}
.pucci{
    margin-top: 200px;
    font-family: "Red Hat Text";
    font-size: 80px;
    -webkit-text-stroke: 1px #404146;
    color: white;
}
.mart-content
{
    margin-top: 230px;
    font-family: "Red Hat Text";
    font-size: 80px;
    -webkit-text-stroke: 1px #07A081;
    color: white;
}
#input-email
{
    padding: 5px 20px;
}
.fa-circle-right
{
    font-size: 18px;
}
.response
{
    margin-top: 250px;
}
.subscribe
{
    font-family: "Lato";
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
}
.contact
{
    font-family: "Lato";
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon-footer{
    margin-left: 230px;
}
.shop-discount
{
    background-color: #07A081;
    margin-left: 20px;
}
.discount-month
{
    font-family: "Lato";
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 20px;
}
.btn-white
{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
}
.img-frame
{
   margin-top: 110px;
   margin-right: 30px;
}
.image-shop-discount
{
    position: relative;
}
.image-shop-discount::before
{
    position: absolute;
    content:url("images/Frame\ 2.png");
    margin-top: 146.5px;
    margin-left: 70px;
   
}
.discount-animal
{
    position: absolute;
    padding: 10px 5px;
    border-radius: 50%;
    background-color: red;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}
.image-animal-list
{
    width: 293px;
    height: 293px;
}
.body-content{
    margin-left: 20px;
}
.pucci-body-content{
    font-family: "Red Hat Text";
    font-size: 150px;
    -webkit-text-stroke: 1px #404146;
    color: white;
    margin-right: 110px;
}
.mart-body-content{
    font-family: "Red Hat Text";
    font-size: 150px;
    -webkit-text-stroke: 1px #07A081;
    color: white;
    margin-left: 50px;
}

.body-content-left
{
    text-align: center;
}
.body-content
{
    position: relative;
}
.body-content::before
{
    position: absolute;
    
    content: url("images/dog.png");
    left: 400px;
}
.hot-offer
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    margin-top: 90px;
    margin-left: 50px;
    background-color: red;
    font-family: "Lato";
    font-size: 32px;
    text-align: center;
}
.body-content-right .btn-success
{
    margin-left: 200px;

}
.view
{
    font-family: "Lato";
    font-size: 20px;
    vertical-align: bottom;
}
.price-body{
    margin-top: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: red;
}
.discount-body{
    text-decoration: line-through;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
}
.discount-sale{
    font-family: "Lato";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-top: 70px;
}
.icon-content-footer{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
.icon-deliver{
    display: flex;
    align-items: center;
}
.icon-secure
{
    display: flex;
    align-items: center;
}
.icon-replacement
{
    display: flex;
    align-items: center;
}
.deliver
{
    font-family: "Nunito";
    font-size: 20px;
    margin-left: 10px;
}
.secure
{
    font-family: "Nunito";
    font-size: 20px;
    margin-left: 10px;
}
.replacement{
    font-family: "Nunito";
    font-size: 20px;
    margin-left: 10px;
}
.footer
{
    background-color: #F6F6F6;
    margin-top: 20px;
}
.div-footer
{
   padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer-about
{
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
    font-size: 20px;
}
.footer-support
{
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
    font-size: 20px;
}
.footer-contact
{
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
    font-size: 20px;
}
.buton-download
{
    display: flex;
}
.footer-bottom
{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.img-ggplay
{
    width: 100px;
    height: 35px;
}
.img-play-store
{
    margin-left: 10px;
    width: 100px;
    height: 35px;
}
.ft-about
{
    font-weight: 700;
}
.support
{
    font-weight: 700;
}
.contac
{
    font-weight: 700;
}
.email-puccimart
{
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 600;
}
.term
{
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 600;
}